{
  "openapi": "3.0.3",
  "info": {
    "title": "liupin-custom-service 接口文档",
    "description": "留品字帖/毛笔定制业务服务（liupin-custom-service）接口文档。由源码静态解析生成，覆盖 controller 包下全部 HTTP 接口。\n\n- 统一返回结构：ApiResponse（status/msg/data 及分页字段）。\n- 请求体与响应 data 的结构见 components.schemas。\n- 鉴权：多数接口依赖登录态（LoginContext / CustomerAssert.checkLogin），经网关鉴权后转发。\n- 服务端口：9097；网关前缀示例：/customService。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.liupinshuyuan.com/customService",
      "description": "生产环境（经网关）"
    },
    {
      "url": "https://route.liupinyike.com/customService",
      "description": "测试/灰度环境（经网关）"
    },
    {
      "url": "http://localhost:9097",
      "description": "本地直连"
    }
  ],
  "tags": [
    {
      "name": "CustomBizConfigController",
      "description": "控制器: CustomBizConfigController"
    },
    {
      "name": "CustomController",
      "description": "控制器: CustomController"
    },
    {
      "name": "CustomKnowledgeController",
      "description": "控制器: CustomKnowledgeController"
    },
    {
      "name": "CustomQuestionController",
      "description": "控制器: CustomQuestionController"
    },
    {
      "name": "CustomUserController",
      "description": "控制器: CustomUserController"
    },
    {
      "name": "CustomUserOrderReviewsController",
      "description": "控制器: CustomUserOrderReviewsController"
    },
    {
      "name": "CustomUserSelectController",
      "description": "控制器: CustomUserSelectController"
    },
    {
      "name": "CustomUserViedoPlayController",
      "description": "控制器: CustomUserViedoPlayController"
    },
    {
      "name": "FileController",
      "description": "控制器: FileController"
    },
    {
      "name": "LogisticsController",
      "description": "控制器: LogisticsController"
    },
    {
      "name": "OrderController",
      "description": "控制器: OrderController"
    },
    {
      "name": "ProductController",
      "description": "控制器: ProductController"
    },
    {
      "name": "ShareController",
      "description": "控制器: ShareController"
    },
    {
      "name": "UserAddressController",
      "description": "控制器: UserAddressController"
    },
    {
      "name": "AdminCustomBizConfigController",
      "description": "控制器: AdminCustomBizConfigController"
    },
    {
      "name": "AdminCustomBizSettingController",
      "description": "控制器: AdminCustomBizSettingController"
    },
    {
      "name": "AdminCustomStatisticsController",
      "description": "控制器: AdminCustomStatisticsController"
    },
    {
      "name": "AdminWarrantyQuestionSubmitController",
      "description": "控制器: AdminWarrantyQuestionSubmitController"
    },
    {
      "name": "MemberController",
      "description": "控制器: MemberController"
    },
    {
      "name": "NewcomerPrizesController",
      "description": "控制器: NewcomerPrizesController"
    },
    {
      "name": "OrderLogisticsPushWechatController",
      "description": "控制器: OrderLogisticsPushWechatController"
    },
    {
      "name": "ProduceSourceUserController",
      "description": "控制器: ProduceSourceUserController"
    },
    {
      "name": "WarrantyQuestionSubmitController",
      "description": "控制器: WarrantyQuestionSubmitController"
    },
    {
      "name": "WarrantyQuestionTypeController",
      "description": "控制器: WarrantyQuestionTypeController"
    },
    {
      "name": "RaffleDrawController",
      "description": "控制器: RaffleDrawController"
    },
    {
      "name": "ScanBarCodeController",
      "description": "控制器: ScanBarCodeController"
    },
    {
      "name": "LoginController",
      "description": "控制器: LoginController"
    },
    {
      "name": "TaoBaoCustomKnowledgeController",
      "description": "控制器: TaoBaoCustomKnowledgeController"
    },
    {
      "name": "TaoBaoCustomQuestionController",
      "description": "控制器: TaoBaoCustomQuestionController"
    },
    {
      "name": "TaobaoCustomController",
      "description": "控制器: TaobaoCustomController"
    },
    {
      "name": "TaobaoCustomUserOrderReviewsController",
      "description": "控制器: TaobaoCustomUserOrderReviewsController"
    },
    {
      "name": "TaobaoCustomUserSelectController",
      "description": "控制器: TaobaoCustomUserSelectController"
    },
    {
      "name": "TaobaoOrderController",
      "description": "控制器: TaobaoOrderController"
    },
    {
      "name": "TaobaoProductController",
      "description": "控制器: TaobaoProductController"
    },
    {
      "name": "UserCouponPrizesRecordController",
      "description": "控制器: UserCouponPrizesRecordController"
    }
  ],
  "paths": {
    "/api/homePage": {
      "get": {
        "tags": [
          "CustomBizConfigController"
        ],
        "operationId": "CustomBizConfigController_homePage",
        "summary": "homePage",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/HomePageResult"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/homePage/produceSourceText": {
      "get": {
        "tags": [
          "CustomBizConfigController"
        ],
        "operationId": "CustomBizConfigController_produceSourceText",
        "summary": "produceSourceText",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/homePage/deliverOrderTipIsDisplay": {
      "get": {
        "tags": [
          "CustomBizConfigController"
        ],
        "operationId": "CustomBizConfigController_deliverOrderTipIsDisplay",
        "summary": "订单发货提示",
        "description": "订单发货提示",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/DeliverOrderTipIsDisplayResult"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/custom/penPointPage": {
      "post": {
        "tags": [
          "CustomController"
        ],
        "operationId": "CustomController_penPointPage",
        "summary": "penPointPage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PenPointParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PenPointResult"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/custom/penPointSpecSelect": {
      "post": {
        "tags": [
          "CustomController"
        ],
        "operationId": "CustomController_penPointSpecSelect",
        "summary": "penPointSpecSelect",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PenPointSpecParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PenPointSpecResult"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/custom/getPenPointByProductId": {
      "get": {
        "tags": [
          "CustomController"
        ],
        "operationId": "CustomController_getPenPointByProductId",
        "summary": "getPenPointByProductId",
        "parameters": [
          {
            "name": "productId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PenPointResult"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/custom/penHolderPage": {
      "get": {
        "tags": [
          "CustomController"
        ],
        "operationId": "CustomController_penHolderPage",
        "summary": "penHolderPage",
        "parameters": [
          {
            "name": "penPointSkuCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "penHolderSkuCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PenHolderResult"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/custom/getPenHolderByProductId": {
      "get": {
        "tags": [
          "CustomController"
        ],
        "operationId": "CustomController_getPenHolderByProductId",
        "summary": "getPenHolderByProductId",
        "parameters": [
          {
            "name": "skuCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rangeId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "penHolderSkuCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PenHolderResult"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/custom/skuCheck": {
      "get": {
        "tags": [
          "CustomController"
        ],
        "operationId": "CustomController_skuCheck",
        "summary": "skuCheck",
        "parameters": [
          {
            "name": "skuCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/custom/letteringPage": {
      "get": {
        "tags": [
          "CustomController"
        ],
        "operationId": "CustomController_letteringPage",
        "summary": "letteringPage",
        "parameters": [
          {
            "name": "penPointSkuCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "penHolderSkuCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chooseColor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/LetteringResult"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/custom/drawPic": {
      "post": {
        "tags": [
          "CustomController"
        ],
        "operationId": "CustomController_drawPic",
        "summary": "drawPic",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreviewParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/DrawPicResult"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/custom/previewPage": {
      "get": {
        "tags": [
          "CustomController"
        ],
        "operationId": "CustomController_previewPage",
        "summary": "previewPage",
        "parameters": [
          {
            "name": "selectId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PreviewResult"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/custom/sharePic": {
      "get": {
        "tags": [
          "CustomController"
        ],
        "operationId": "CustomController_sharePic",
        "summary": "sharePic",
        "parameters": [
          {
            "name": "previewId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pointHolderPic",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/custom/sharePrice": {
      "post": {
        "tags": [
          "CustomController"
        ],
        "operationId": "CustomController_share",
        "summary": "分享立减",
        "description": "分享立减",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShareParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ShareResult"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/custom/penPackagePage": {
      "get": {
        "tags": [
          "CustomController"
        ],
        "operationId": "CustomController_penPackagePage",
        "summary": "penPackagePage",
        "parameters": [
          {
            "name": "penHolderSkuCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PenPackageResult"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/custom/customAgain": {
      "post": {
        "tags": [
          "CustomController"
        ],
        "operationId": "CustomController_customAgain",
        "summary": "customAgain",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomAgainParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/CustomAgainResult"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/knowledge/selectCategory": {
      "get": {
        "tags": [
          "CustomKnowledgeController"
        ],
        "operationId": "CustomKnowledgeController_selectCategory",
        "summary": "selectCategory",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CustomKnowledgeCategoryResult"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/knowledge/selectByCategoryId": {
      "get": {
        "tags": [
          "CustomKnowledgeController"
        ],
        "operationId": "CustomKnowledgeController_selectByCategoryId",
        "summary": "selectByCategoryId",
        "parameters": [
          {
            "name": "videoCategoryId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CustomKnowledgeLibraryResult"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/question/isQuestionPlay": {
      "get": {
        "tags": [
          "CustomQuestionController"
        ],
        "operationId": "CustomQuestionController_isQuestionPlay",
        "summary": "isQuestionPlay",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/question/nextQuestion": {
      "get": {
        "tags": [
          "CustomQuestionController"
        ],
        "operationId": "CustomQuestionController_nextQuestion",
        "summary": "nextQuestion",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/CustomQuestionResult"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/question/questionRecommend": {
      "get": {
        "tags": [
          "CustomQuestionController"
        ],
        "operationId": "CustomQuestionController_questionSubmit",
        "summary": "提交答案和跳过",
        "description": "提交答案和跳过",
        "parameters": [
          {
            "name": "options",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/CustomRecommendResult"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/custom/user/get": {
      "get": {
        "tags": [
          "CustomUserController"
        ],
        "operationId": "CustomUserController_get",
        "summary": "get",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/CustomUserDetailResult"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/previews/previewList": {
      "get": {
        "tags": [
          "CustomUserOrderReviewsController"
        ],
        "operationId": "CustomUserOrderReviewsController_previewList",
        "summary": "精选口碑评价列表 , 只查询有库存的评价",
        "description": "精选口碑评价列表 , 只查询有库存的评价",
        "parameters": [
          {
            "name": "pageNum",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/previews/insert": {
      "post": {
        "tags": [
          "CustomUserOrderReviewsController"
        ],
        "operationId": "CustomUserOrderReviewsController_insert",
        "summary": "insert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserOrderReviewParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/previews/previewDetail": {
      "get": {
        "tags": [
          "CustomUserOrderReviewsController"
        ],
        "operationId": "CustomUserOrderReviewsController_previewDetail",
        "summary": "previewDetail",
        "parameters": [
          {
            "name": "orderNum",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/UserOrderRreviewsResult"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/custom/userSelect/userRecord": {
      "get": {
        "tags": [
          "CustomUserSelectController"
        ],
        "operationId": "CustomUserSelectController_userRecord",
        "summary": "userRecord",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/UserRecordResult"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/custom/userSelect/userRecordCount": {
      "get": {
        "tags": [
          "CustomUserSelectController"
        ],
        "operationId": "CustomUserSelectController_userRecordCount",
        "summary": "userRecordCount",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "integer"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/custom/userSelect/del/{id}": {
      "get": {
        "tags": [
          "CustomUserSelectController"
        ],
        "operationId": "CustomUserSelectController_del",
        "summary": "del",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/videoPlay/insert": {
      "post": {
        "tags": [
          "CustomUserViedoPlayController"
        ],
        "operationId": "CustomUserViedoPlayController_insert",
        "summary": "insert",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/videoPlay/isPlay": {
      "get": {
        "tags": [
          "CustomUserViedoPlayController"
        ],
        "operationId": "CustomUserViedoPlayController_isPlay",
        "summary": "isPlay",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/file/imgFile": {
      "post": {
        "tags": [
          "FileController"
        ],
        "operationId": "FileController_imgFileUpload",
        "summary": "imgFileUpload",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/file/videoFile": {
      "post": {
        "tags": [
          "FileController"
        ],
        "operationId": "FileController_videoFileUpload",
        "summary": "videoFileUpload",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/logistics/getByOrderNum": {
      "get": {
        "tags": [
          "LogisticsController"
        ],
        "operationId": "LogisticsController_getByOrderNum",
        "summary": "getByOrderNum",
        "parameters": [
          {
            "name": "orderNum",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": true
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/logistics/testLogisticsNumByOrderNum": {
      "get": {
        "tags": [
          "LogisticsController"
        ],
        "operationId": "LogisticsController_testLogisticsNumByOrderNum",
        "summary": "testLogisticsNumByOrderNum",
        "parameters": [
          {
            "name": "orderNum",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/order/payDetailPage": {
      "post": {
        "tags": [
          "OrderController"
        ],
        "operationId": "OrderController_payDetailPage",
        "summary": "payDetailPage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayDetailParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PayDetailResult"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/order/submitOrder": {
      "post": {
        "tags": [
          "OrderController"
        ],
        "operationId": "OrderController_orderSubmit",
        "summary": "orderSubmit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderSubmitParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/order/refund": {
      "post": {
        "tags": [
          "OrderController"
        ],
        "operationId": "OrderController_refund",
        "summary": "refund",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/order/cancelPay": {
      "get": {
        "tags": [
          "OrderController"
        ],
        "operationId": "OrderController_cancelPay",
        "summary": "cancelPay",
        "parameters": [
          {
            "name": "orderNum",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/order/orderList": {
      "get": {
        "tags": [
          "OrderController"
        ],
        "operationId": "OrderController_orderList",
        "summary": "orderList",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/OrderListResult"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/order/reviewsList": {
      "get": {
        "tags": [
          "OrderController"
        ],
        "operationId": "OrderController_reviewsList",
        "summary": "reviewsList",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/OrderListResult"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/order/orderDetail": {
      "get": {
        "tags": [
          "OrderController"
        ],
        "operationId": "OrderController_orderDetail",
        "summary": "orderDetail",
        "parameters": [
          {
            "name": "orderNum",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/OrderDetailResult"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/order/wxPayCallback": {
      "post": {
        "tags": [
          "OrderController"
        ],
        "operationId": "OrderController_payNotify",
        "summary": "毛笔定制回调",
        "description": "毛笔定制回调",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/order/wxPayCallbackTest001": {
      "get": {
        "tags": [
          "OrderController"
        ],
        "operationId": "OrderController_wxPayCallbackTest001",
        "summary": "手动修复订单",
        "description": "手动修复订单",
        "parameters": [
          {
            "name": "orderNum",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/order/wxPayCallback2": {
      "post": {
        "tags": [
          "OrderController"
        ],
        "operationId": "OrderController_payNotify",
        "summary": "payNotify",
        "parameters": [
          {
            "name": "xmlStr",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/order/wxRefundPayCallback": {
      "post": {
        "tags": [
          "OrderController"
        ],
        "operationId": "OrderController_wxRefundPayCallback",
        "summary": "wxRefundPayCallback",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/order/freezeStockTest": {
      "get": {
        "tags": [
          "OrderController"
        ],
        "operationId": "OrderController_freezeStockTest",
        "summary": "freezeStockTest",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/order/realStockTest": {
      "get": {
        "tags": [
          "OrderController"
        ],
        "operationId": "OrderController_realStockTest",
        "summary": "realStockTest",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "integer"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/order/realStockTest2": {
      "get": {
        "tags": [
          "OrderController"
        ],
        "operationId": "OrderController_realStockTest2",
        "summary": "realStockTest2",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/order/repairOrder": {
      "get": {
        "tags": [
          "OrderController"
        ],
        "operationId": "OrderController_repairOrder",
        "summary": "repairOrder",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "wxCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/product/desc": {
      "get": {
        "tags": [
          "ProductController"
        ],
        "operationId": "ProductController_penPointPage",
        "summary": "penPointPage",
        "parameters": [
          {
            "name": "productId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/share/custom": {
      "get": {
        "tags": [
          "ShareController"
        ],
        "operationId": "ShareController_payDetailPage",
        "summary": "payDetailPage",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/userAddress/list": {
      "get": {
        "tags": [
          "UserAddressController"
        ],
        "operationId": "UserAddressController_list",
        "summary": "list",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/UserAddressInfo"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/userAddress/getById": {
      "get": {
        "tags": [
          "UserAddressController"
        ],
        "operationId": "UserAddressController_getById",
        "summary": "getById",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/UserAddressInfo"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/userAddress/delete": {
      "get": {
        "tags": [
          "UserAddressController"
        ],
        "operationId": "UserAddressController_delete",
        "summary": "delete",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/userAddress/defaultAddress": {
      "get": {
        "tags": [
          "UserAddressController"
        ],
        "operationId": "UserAddressController_defaultAddress",
        "summary": "defaultAddress",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/userAddress/insert": {
      "post": {
        "tags": [
          "UserAddressController"
        ],
        "operationId": "UserAddressController_insert",
        "summary": "insert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserAddressInfo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/userAddress/update": {
      "post": {
        "tags": [
          "UserAddressController"
        ],
        "operationId": "UserAddressController_update",
        "summary": "update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserAddressInfo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/homePage/get": {
      "get": {
        "tags": [
          "AdminCustomBizConfigController"
        ],
        "operationId": "AdminCustomBizConfigController_getByPlatId",
        "summary": "getByPlatId",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AdminCustomBizConfigResult"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/wxTradeGet": {
      "get": {
        "tags": [
          "AdminCustomBizConfigController"
        ],
        "operationId": "AdminCustomBizConfigController_wxTradeGet",
        "summary": "wxTradeGet",
        "parameters": [
          {
            "name": "sec",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "middleOrder",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/setting/customerDetail": {
      "get": {
        "tags": [
          "AdminCustomBizSettingController"
        ],
        "operationId": "AdminCustomBizSettingController_customer",
        "summary": "customer",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": true
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/setting/sendMsg": {
      "get": {
        "tags": [
          "AdminCustomBizSettingController"
        ],
        "operationId": "AdminCustomBizSettingController_sendMsg",
        "summary": "sendMsg",
        "parameters": [
          {
            "name": "wxCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/statistics/users": {
      "get": {
        "tags": [
          "AdminCustomStatisticsController"
        ],
        "operationId": "AdminCustomStatisticsController_userStatistics",
        "summary": "userStatistics",
        "parameters": [
          {
            "name": "pageNum",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/statistics/usersExport": {
      "get": {
        "tags": [
          "AdminCustomStatisticsController"
        ],
        "operationId": "AdminCustomStatisticsController_usersExport",
        "summary": "usersExport",
        "parameters": [
          {
            "name": "pageNum",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/statistics/userSelect": {
      "get": {
        "tags": [
          "AdminCustomStatisticsController"
        ],
        "operationId": "AdminCustomStatisticsController_userSelect",
        "summary": "userSelect",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/UserSelectResult"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/statistics/userOrders": {
      "get": {
        "tags": [
          "AdminCustomStatisticsController"
        ],
        "operationId": "AdminCustomStatisticsController_userOrders",
        "summary": "userOrders",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/UserPaySuccessOrderResult"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/statistics/useReviews": {
      "get": {
        "tags": [
          "AdminCustomStatisticsController"
        ],
        "operationId": "AdminCustomStatisticsController_useReviews",
        "summary": "useReviews",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/UseReviewResult"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/warrantyQuestionSubmit/pageList": {
      "get": {
        "tags": [
          "AdminWarrantyQuestionSubmitController"
        ],
        "operationId": "AdminWarrantyQuestionSubmitController_pageList",
        "summary": "溯源分页查询",
        "description": "溯源分页查询",
        "parameters": [
          {
            "name": "pageNum",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skuCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceCodeType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timeType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "createTime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mobile",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/warrantyQuestionSubmit/export": {
      "get": {
        "tags": [
          "AdminWarrantyQuestionSubmitController"
        ],
        "operationId": "AdminWarrantyQuestionSubmitController_export",
        "summary": "excel导出",
        "description": "excel导出",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skuCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceCodeType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timeType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "createTime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mobile",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/WarrantyProduceSourcePageResult"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/warrantyQuestionSubmit/detail": {
      "get": {
        "tags": [
          "AdminWarrantyQuestionSubmitController"
        ],
        "operationId": "AdminWarrantyQuestionSubmitController_detail",
        "summary": "数据详情",
        "description": "数据详情",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/WarrantyProduceSourceDetailResult"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/warrantyQuestionSubmit/handle": {
      "get": {
        "tags": [
          "AdminWarrantyQuestionSubmitController"
        ],
        "operationId": "AdminWarrantyQuestionSubmitController_handle",
        "summary": "质保处理",
        "description": "质保处理",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "creatorName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/member/contactsQR": {
      "get": {
        "tags": [
          "MemberController"
        ],
        "operationId": "MemberController_isMember",
        "summary": "isMember",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/member/isMember": {
      "get": {
        "tags": [
          "MemberController"
        ],
        "operationId": "MemberController_isMember",
        "summary": "isMember",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "boolean"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/newcomerPrizes/list": {
      "get": {
        "tags": [
          "NewcomerPrizesController"
        ],
        "operationId": "NewcomerPrizesController_list",
        "summary": "list",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/orderLogisticsPushWechat/pushTest": {
      "get": {
        "tags": [
          "OrderLogisticsPushWechatController"
        ],
        "operationId": "OrderLogisticsPushWechatController_pushTest",
        "summary": "pushTest",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/userProduceSource/countdownTimes": {
      "get": {
        "tags": [
          "ProduceSourceUserController"
        ],
        "operationId": "ProduceSourceUserController_countdownTimes",
        "summary": "溯源页读秒时间",
        "description": "溯源页读秒时间",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "integer"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/userProduceSource/scanPageCarouselPic": {
      "get": {
        "tags": [
          "ProduceSourceUserController"
        ],
        "operationId": "ProduceSourceUserController_scanPageCarouselPic",
        "summary": "扫码页轮播图",
        "description": "扫码页轮播图",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/userProduceSource/produceSource": {
      "get": {
        "tags": [
          "ProduceSourceUserController"
        ],
        "operationId": "ProduceSourceUserController_produceSource",
        "summary": "扫码溯源页面(已废弃)",
        "description": "扫码溯源页面(已废弃)",
        "parameters": [
          {
            "name": "sourceCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/userProduceSource/produceSourceV2": {
      "get": {
        "tags": [
          "ProduceSourceUserController"
        ],
        "operationId": "ProduceSourceUserController_produceSourceV2",
        "summary": "扫码溯源页面(新版本)",
        "description": "扫码溯源页面(新版本)",
        "parameters": [
          {
            "name": "sourceCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/userProduceSource/list": {
      "get": {
        "tags": [
          "ProduceSourceUserController"
        ],
        "operationId": "ProduceSourceUserController_list",
        "summary": "list",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ProduceSourceUserListResult"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/userProduceSource/getReportPic": {
      "get": {
        "tags": [
          "ProduceSourceUserController"
        ],
        "operationId": "ProduceSourceUserController_getReportPic",
        "summary": "getReportPic",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": true
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/userProduceSource/canWarranty": {
      "get": {
        "tags": [
          "ProduceSourceUserController"
        ],
        "operationId": "ProduceSourceUserController_canWarranty",
        "summary": "是否仍在质保期内",
        "description": "是否仍在质保期内",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "boolean"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/userProduceSource/externalUserId": {
      "post": {
        "tags": [
          "ProduceSourceUserController"
        ],
        "operationId": "ProduceSourceUserController_externalUserId",
        "summary": "外部用户id迁移 商城用户触发账号合并， 旧用删除  同步把溯源记录的旧用户id改成新的",
        "description": "外部用户id迁移 商城用户触发账号合并， 旧用删除  同步把溯源记录的旧用户id改成新的",
        "parameters": [
          {
            "name": "oldUserId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "newUserId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/warrantyQuestionSubmit/preWarrantyVerification": {
      "get": {
        "tags": [
          "WarrantyQuestionSubmitController"
        ],
        "operationId": "WarrantyQuestionSubmitController_preWarrantyVerification",
        "summary": "质保前校验",
        "description": "质保前校验",
        "parameters": [
          {
            "name": "produceSourceId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PreWarrantyVerificationResult"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/warrantyQuestionSubmit/add": {
      "post": {
        "tags": [
          "WarrantyQuestionSubmitController"
        ],
        "operationId": "WarrantyQuestionSubmitController_add",
        "summary": "新增质保问题提交",
        "description": "新增质保问题提交",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WarrantyQuestionSubmitParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/warrantyQuestionSubmit/myList": {
      "get": {
        "tags": [
          "WarrantyQuestionSubmitController"
        ],
        "operationId": "WarrantyQuestionSubmitController_myList",
        "summary": "我的延保列表",
        "description": "我的延保列表",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/MyWarrantyListResult"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/warrantyQuestionType/list": {
      "get": {
        "tags": [
          "WarrantyQuestionTypeController"
        ],
        "operationId": "WarrantyQuestionTypeController_list",
        "summary": "查询全部问题类型（不分页）",
        "description": "查询全部问题类型（不分页）",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/WarrantyQuestionType"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/raffle/userWinAwardsCopyWriting": {
      "get": {
        "tags": [
          "RaffleDrawController"
        ],
        "operationId": "RaffleDrawController_userWinAwardsCopyWriting",
        "summary": "userWinAwardsCopyWriting",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/raffle/getDrawCount": {
      "get": {
        "tags": [
          "RaffleDrawController"
        ],
        "operationId": "RaffleDrawController_getDrawCount",
        "summary": "getDrawCount",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "integer"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/raffle/isGiftByCurrentDay": {
      "get": {
        "tags": [
          "RaffleDrawController"
        ],
        "operationId": "RaffleDrawController_isGiftByCurrentDay",
        "summary": "isGiftByCurrentDay",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "boolean"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/raffle/giftText": {
      "get": {
        "tags": [
          "RaffleDrawController"
        ],
        "operationId": "RaffleDrawController_giftText",
        "summary": "giftText",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/raffle/giftDrawCount": {
      "get": {
        "tags": [
          "RaffleDrawController"
        ],
        "operationId": "RaffleDrawController_giftDrawCount",
        "summary": "领抽奖次数 , 每天只赠送一次",
        "description": "领抽奖次数 , 每天只赠送一次",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "boolean"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/raffle/recentlyExpireAward": {
      "get": {
        "tags": [
          "RaffleDrawController"
        ],
        "operationId": "RaffleDrawController_recentlyExpireAward",
        "summary": "即将失效的订单",
        "description": "即将失效的订单",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/raffle/userWinAwards": {
      "get": {
        "tags": [
          "RaffleDrawController"
        ],
        "operationId": "RaffleDrawController_userWinAwards",
        "summary": "userWinAwards",
        "responses": {
          "200": {
            "description": "成功响应（ApiResponse 包装）",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/UserWinAwardsResult"
                          }
                        }
                      }
                    }
                  ]
                }
[...]
